.case-studies-inner {
    gap: 77px;
    .case-study {
        flex: 0 0 50%;
        &:nth-child(1) {
            background: $orange;
        }
        &:nth-child(2) {
            background: $languidBlue;
            position: relative;
            margin-top: 120px;
        } 
        h2 {
            color: white;
            font-size: 45px;
        }
       
        p  {
            color: white;
            font-size: 24px;
        }
    }
}
