.double-column p, .double-column li {
    font-family: $manrope-font;
    font-size: 24px;
}

.double-column li {
  margin-bottom: 15px;
}

.double-column-inner {
    gap: 50px;
}

.link-container {
    a {
        text-decoration: none;
        @extend %buttonLine;
        padding-bottom: 4px;

    }
    .link-text {
      color: $orange;
      font-family: $title-font;
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 1.25px;
    }
    .arrow-right {
        padding-left: 8px;
    }
}

.bg-green {
    .button.link {
      @extend %buttonLine;
      padding-bottom: 4px;
      .link-text {
        color: white;
        font-family: $title-font;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 1.25px;
      }
      .arrow-right {
          padding-left: 8px;
      }
    }
}

.slide-copy {
  display: none;
}

.slide-link, .slide-link-close {
  color: $orange;
  font-family: $title-font;
  font-size: 25px;
  line-height: 35px;
  // border-bottom: 1px solid $orange;
  cursor: pointer;
  .arrow-right {
    padding-left: 8px;
}
}

.slide-link {
  @extend %buttonLine;
  svg {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }
  }
}

.slide-link-close {
  @extend %buttonLine;
  svg {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
    }
  }
}


  @media screen and (max-width: 901px) {
    .carousel-wrap {
        width: 100%;
      }
  }
