.double-column p, .double-column li {
    font-family: $manrope-font;
    font-size: 22px;
    line-height: 30px;
}

.double-column li {
  margin-bottom: 15px;
}

.double-column-inner {
    gap: 50px;
    h3 {
      font-size: 43px;
    line-height: 54px;
    font-family: playfair-display,serif;
    }
}

.link-container {
    a {
        text-decoration: none;
        @extend %buttonLine;
        padding-bottom: 4px;
    }
    .link-text {
      color: $orange;
      font-family: $title-font;
      font-size: 23px !important;
      line-height: 33px !important;
      letter-spacing: 1.25px;
    }
    .arrow-right {
        padding-left: 8px;
    }
}

.bg-green {
  h3 {
    color: white;
  }
    .button.link {
      @extend %buttonLine;
      padding-bottom: 4px;
      .link-text {
        color: white;
        font-family: $title-font;
        font-size: 23px;
        line-height: 33px;
        letter-spacing: 1.25px;
      }
      .arrow-right {
          padding-left: 8px;
      }
    }
}

.slide-copy {
  display: none;
}

.slide-link, .slide-link-close {
  color: $orange;
  font-family: $title-font;
  font-size: 23px;
  line-height: 33px;
  // border-bottom: 1px solid $orange;
  cursor: pointer;
  .arrow-right {
    padding-left: 8px;
}
}

.slide-link-container {
  @extend %buttonLine;
  text-decoration: none;
  padding-bottom: 4px;
  cursor: pointer;
    svg {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      svg {
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out;
      }
    }
}

.slide-link-close-container {
  @extend %buttonLine;
  text-decoration: none;
    padding-bottom: 4px;
    cursor: pointer;
    svg {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      svg {
        transform: rotate(-90deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }




  @media screen and (max-width: 901px) {
    .carousel-wrap {
        width: 100%;
      }
  }

  @media screen and (max-width: 768px) {
    .double-column p, .double-column li {
      font-size: 20px;
      line-height: 28px;
  }
  .double-column-inner {
    h3 {
      font-size: 40px;
    line-height: 50px;
    }
}

}
