
    .hero-content-top {
        background: rgb(253,242,237);
        background: linear-gradient(180deg, rgba(22,50,22,1) 70%, rgba(253,242,237,1) 70%);
        .hero-content-top-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 15px;

            .hero-image {
                max-width: 690px;
                max-height: 547px;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .hero-image, .hero-title {
                flex: 1;
            }

        } 
    }

    .hero-content-bottom {
        background: $creme;
        padding: 70px 0;
        .hero-content-bottom-two-col {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .hero-subtitle {
                p {
                font-size: 34px;
                line-height: 45px;
                }
            }
            .hero-subtitle, .hero-graph {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

        }
        .hero-content-bottom-full-width {
            .hero-subtitle-2 {
                p {
                    font-size: 34px;
                    line-height: 45px;
                    }
            }
        }
    }

    .hero-graph {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .hero-graph-inner {
            max-width: 500px;
            max-height: 500px;
            height: 500px;
            width: 500px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .graph-col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: $playfair-font;
        gap: 15px;
        &:nth-child(1) {
            border-right:0.5px solid;
            border-bottom:0.5px solid;
          }
        &:nth-child(2) {
            border-bottom:0.5px solid;
            border-left:0.5px solid;
          }
        &:nth-child(3) {
            border-top:0.5px solid;
            border-right:0.5px solid;
          }
        &:nth-child(4) {
            border-left:0.5px solid;
            border-top:0.5px solid;
          }

          .number {
            color: $orange;
            font-size: 74px;
            font-family: $playfair-font;
            margin-top: -43px;
            margin-bottom: 0;
          }
          .graph-copy p, .prenumgraph-copy p {
            text-align: center;
            font-size: 18px;
            line-height: 1;
            margin: 0;
          }
    }

//blog hero 

.hero-title {
    .date-container p {
        color: $orange;
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
        font-family: $manrope-font;
    }
}

@media screen and (max-width: 991px) {
    .hero-content-top-inner {
        padding-top: 25px;
        gap: 20px;
        flex-direction: column !important;
    }
    .carousel-wrap, .double-column-inner-copy {
        flex: 1;
    }
    .owl-carousel .owl-item img {
        width: 100%;
        height: auto;
    }
    .play-btn {
        max-width: 300px;
        max-height: 300px;
    }
}