body.home {
    header {
        background: transparent;
        transition: 150ms linear background;
        position: fixed;
        top: 0;
        left:0;
        z-index: 50;
        width: 100%;
        .logo svg path {
            fill: $orange;
        }
        &.hero-scrolled {
            background: $creme;
            transition: 150ms linear background;
            .header-inner nav span {
                color: $orange;
                transition: 150ms linear color;
                &:hover {
                    color: $green;
                    transition: 150ms linear color;
                }
            }
        }
       
    } 

    .hero {
        padding: 0;
    }
    .hero-content  {
        position: relative;

        .hero-video {
            max-height: 850px;
            min-height: 850px;
            video {
                max-height: 850px;
                min-height: 850px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .hero-img {
            max-height: 850px;
            min-height: 850px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .play-btn-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            outline: 0;
            border: 0;
            background: transparent;
            .play-btn {
                position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    width: 545px;
                    height: 545px;
                    svg {
                        height: 100%;
                        width: 100%;
                    }
            }
        }

        .hero-title {
            position: relative;
            .hero-title-inner {
                position: absolute;
                left: 2%; /* position the left edge of the element at the middle of the parent */
                bottom: 0 ;
                transform: translate(0, -75%);
                h1 {
                text-decoration: underline;
                text-decoration-color: $orange;
                text-decoration-thickness: 1px;
                text-underline-offset: 7px
                }
                h2 {
                    color: $creme;
                    font-family: $playfair-font;
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            
        }
        
    }  
    .front-page {
        .biography-inner {
            &.small-bounds {
                margin-left: 0;
                padding: 0;
            }
            p {
                font-family: $manrope-font;
                font-size: 32px;
                line-height: 46px;
                a {
                    font-size: 30px;
                    line-height: 44px;
                    font-family: $manrope-font;
                    color: $orange;
                    text-decoration: underline;
                }
            }
            
            .biography-title h3 {
                font-size: 22px;
                line-height: 28px;
                font-family: $playfair-font;
            }
        }
    }

    .double-column-bottom {
        background: rgb(253,242,237);
        // background: linear-gradient(180deg, rgba(255,255,255,0) 90%, rgba(22,50,22,1) 10% );
        .double-col-img-container {
            margin-bottom: -50px;
        }
    }

.double-column-inner {
    .double-col-img-container, .double-col-copy {
        flex: 1;
        gap: 20px;
        p {
            font-size: 26px;
            line-height: 37px;
            font-family: $manrope-font;
        }
        
    }

    .double-col-copy-inner .double-col-title {
        max-width: 550px;
        margin: 0 auto;
        h4 {
            font-size: 22px;
            line-height: 28px;
            font-family: $playfair-font;
        }
    }
}

.facetwp-container {
    gap: 10px;
}

.latest-from-the-blog-title {
    h4 {
        font-size: 22px;
        line-height: 28px;
        font-family: $playfair-font;
        color: white;
    }
}

.latest-blog-post-home {
    .blog-article {
        gap: 20px;
        .post-title {
            flex: 0 0 58%;
            p {
                color: $creme;
                text-decoration: underline;
                text-decoration-color: white;
                text-decoration-thickness: 1px;
                text-underline-offset: 7px;
                font-family: $manrope-font;
                font-size: 34px;
                line-height: 48px;
                transition: 150ms ease-in-out;
            }
        } 
        a, p {
            color: $creme;
        }
        .post-info {
            flex: 0 0 38%;
            p {
                font-size: 15px;
                line-height: 21px;
                font-family: $playfair-font;
            }
        }
        &:hover {
            .title {
                text-decoration-color: $orange;
                transition: 150ms ease-in-out;
                color: $orange;
            }
        }
    }
    
}

}
body.logged-in header {
    padding-top: 32px;
}

@media screen and (min-width: 992px) and (max-width: 1180px) {
    body.home .double-column-inner .double-col-img-container, body.home .double-column-inner .double-col-copy {
        padding-top: 48px;
    }
   
}

@media screen and (max-width: 901px) {
    body.home .front-page {
        .latest-blog-post-home {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: $orange;
                width: 20%;
                height: 1px;
                transform: translate(200%, 50%);
    
            }
        }
        .facetwp-container {
            gap: 50px;
        }
    }
}



@media screen and (max-width: 991px) {
    body.home .double-column-bottom {
        background: white;
        .double-col-img-container {
            margin-bottom: 0; 
        }
    }
}

@media screen and (max-width: 782px) {
    body.logged-in header {
        padding-top: 46px;
    }
}

@media screen and (max-width: 768px) {
    body.home .front-page {
        .biography-inner {
            p {
                font-size: 30px;
                line-height: 44px;
            }
        }
        .double-col-img-container, .double-col-copy {
            p {
                font-size: 24px;
                line-height: 35px;
            }
        }
        .hero-title {
            .hero-title-inner {
                h1 {
                    font-size: 55px;
                    line-height: 55px;
                }
            }
        }
        .latest-blog-post-home .blog-article .post-title p {
            font-size: 26px;
            line-height: 40px;
        }
    }
}

@media screen and (max-width: 575px) {
    body.home .front-page {
        .biography-inner {
            p {
                font-size: 24px;
                line-height: 38px;
            }
        }
        .facetwp-container {
            gap: 25px;
        }
        .hero-content .hero-title .hero-title-inner {
            left: 3%;
        }
    }


}

@media screen and (max-width: 575px) {
    .hero-img {
        max-height: 700px !important;
        min-height: 700px !important;
    }
}

@media screen and (max-width: 400px) {
    body.home .front-page {
        .hero-title {
            .hero-title-inner {
                transform: translate(0, -20%);
                h1 {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
        .hero-img {
            max-height: 600px !important;
            min-height: 600px !important;
        }

    }
}



