.next-page-link .next-page-link-inner {
    max-width: 750px;
    gap: 25px;

    .next-page-link-container {
        a {
            text-decoration: none;
        }
        .link-text {
            color: $orange;
            padding-right: 8px;
            font-family: $title-font;
            font-size: 25px;
            line-height: 35px;
            border-bottom: 1px solid $orange;
        }
    }
}