.timeline-rows {
    .timeline-rows-inner {
        .timeline-row {
            h3.company-name {
                font-weight: 500;
                font-size: 45px;
                line-height: 56px;
                font-family: $playfair-font;
            }
            span.job-position {
                font-size: 22px;
                line-height: 26px;
                font-family: $manrope-font;
            }
            &:nth-child(odd) {
                align-self: flex-start;
                .content {
                    align-items: flex-start;
                 }
            }
            &:nth-child(even) {
                align-self: flex-end;
                .content {
                   align-items: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .timeline-rows {
        .timeline-rows-inner {
            .timeline-row {
                h3.company-name {
                    font-size: 36px;
                    line-height: 48px;
                }
                span.job-position {
                    font-size: 20px;
                    line-height: 22px;
                }
                &:nth-child(even) {
                    align-self: flex-start;
                    .content {
                       align-items: flex-start;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 575px) {
    .timeline-rows {
        .timeline-rows-inner {
            .timeline-row {
                h3.company-name {
                    font-size: 32px;
                    line-height: 42px;
                }
                span.job-position {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
}
