// //use @include reset-list;
// @mixin reset-list {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }
@mixin responsiveImage($height) {
  position: relative;
  overflow: hidden;
  padding-top: $height;
  img,
  picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
// @mixin button($primary, $secondary, $text) {
//   background: $primary;
//   display: inline-flex;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 8px 23px 8px 8px;
//   border-radius: 85px;
//   font-size: 16px;
//   font-weight: 600;
//   text-decoration: none;
//   line-height: 1;
//   color: $text;
//   gap: 10px;
//   transition: 350ms 150ms ease-in-out color, 350ms ease-in-out transform;

//   span.button-icon {
//     transition: 350ms ease-in-out transform;
//     svg {
//       path {
//         fill: $primary;
//       }
//       ellipse {
//         fill: $secondary;
//       }
//     }
//   }
//   &:hover {
//     transition: 150ms ease-in-out color, 350ms ease-in-out transform;
//     color: $primary;
//     span.button-icon {
//       transition: 350ms ease-in-out transform;
//     }
//   }
// }

@mixin link($color, $border, $font) {
    color: $color;
    font-family: $font;
    font-size: 25px;
    line-height: 35px;
    border-bottom: 1px solid $border;
}

.test {
    @include link($orange, $orange, $title-font);
}

//under slide down copy 
