$green: #163216;
$grey: #FDF2ED;
$dark: #1E1E1E;
$creme: #FDF2ED;
$orange: #BA4522;
$darkCreme: #EDE1DB;
$languidBlue: #A6BABE;

$title-font: "cormorant-garamond", serif; 
$playfair-font: "playfair-display", serif;
$manrope-font: 'Manrope', sans-serif;
